html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
  position: relative;
}

#main iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.aurora {
  position: absolute;
  top: 500px;
  left: 50%;
  margin-left: -558px;
  height: 202px;
  width: 1116px;
  z-index: -1;
}

.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 10px;
  text-align: center;
  .btn {
    margin-top: -120px;
    &:focus {
      margin-top: 0;
    }
  }
}

.profile {
  .card {
    background-color: #f9f9f9;
  }

  .list-group-item {
    background-color: transparent;
  }
}