html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Helvetica, Arial, Sans-serif;
}

input {
  font-family: Montserrat, Helvetica, Arial, Sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 500;
}

#main {
  flex-grow: 1;
  position: relative;
}

#main iframe {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.navbar {
  min-height: min-content;
}

.aurora {
  display: block;
  position: relative;
  height: 151.5px;
  width: 837px;
  max-width: 100%;
  margin: 0 auto;
  z-index: -1;
  .body--logged-out &,
  .profile & {
    margin-top: -120px;
  }
  .forms + a & {
    margin-top: 60px;
  }
}

.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 10px;
  text-align: center;
  .btn {
    margin-top: -120px;
    &:focus {
      margin-top: 0;
    }
  }
}

$primary: #0097a9;

.btn-primary,
.list-group-item.active {
  background-color: $primary;
  border-color: $primary;

  .text-danger {
    color: #fff !important;
  }
}

.btn-primary:hover {
  background-color: darken($primary, 5%);
  border-color: darken($primary, 5%);
}

a {
  color: $primary;
  &:hover,
  &:focus {
    color: darken($primary, 15%);
  }
}

.profile {
  .card {
    background-color: #f9f9f9;

    .card-header {
      background-color: #00818f;
      color:white;

      a {
        color: white;
      }
    }

    .list-group-item {
      background-color: transparent;
    }

    .fas {
       margin-right: 8px;
    }
  }
}

.forms .card::after {
  content: "";
  height: 12px;
  width: 50%;
  background-color: $primary;
  margin: 0 auto;
}

.nav-link .badge {
  position: relative;
  top: -.5rem;
}

#searchForm input {
  border-color: #ffcd57;
}

#searchForm .btn-primary {
  background: #ffcd57;
  border-color: #ffcd57;
  color: #1a1919;
}

.welcome-logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}