html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
  position: relative;
}

#main iframe {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.navbar {
  min-height: min-content;
}

.aurora {
  position: absolute;
  top: 500px;
  left: 50%;
  margin-left: -558px;
  height: 202px;
  width: 1116px;
  z-index: -1;
}

.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 10px;
  text-align: center;
  .btn {
    margin-top: -120px;
    &:focus {
      margin-top: 0;
    }
  }
}

$primary: #00818f;

.btn-primary,
.list-group-item.active {
  background-color: $primary;
  border-color: $primary;

  .text-danger {
    color: #fff !important;
  }
}

.btn-primary:hover {
  background-color: darken($primary, 5%);
  border-color: darken($primary, 5%);
}

.profile {
  .card {
    background-color: #f9f9f9;

    .card-header {
      background-color: #00818f;
      color:white;

      a {
        color: white;
      }
    }

    .list-group-item {
      background-color: transparent;
    }
  }
}

.nav-link .badge {
  position: relative;
  top: -.5rem;
}

#searchForm input {
  border-color: #ffcd57;
}

#searchForm .btn-primary {
  background: #ffcd57;
  border-color: #ffcd57;
  color: #1a1919;
}