<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      
    <div class="skip-navigation">
      <a href="#main" class="btn btn-primary">
        Skip to main content
      </a>
    </div>

    <header class="header container wrapper">

      <h1 class="logo">
        <a href="{{ site.url }}" class="title__link">
          <img src="{{ site.logo | absolute_url }}" alt="{{ site.title }}" />
        </a>
      </h1>

      {% include navigation.html %}

    </header>

    <main id="main">

      {{ content }}

    </main>

    <script src="{{ '/js/footer_scripts.js' | absolute_url }}"></script>

  </body>

</html>
